@page
@model QRCode.Web.Pages.ProcessingLevels.CreateModalModel
@using QRCode.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@inject IStringLocalizer<QRCodeResource> L

@{Layout = null;
}
<form method="post" asp-page="/ProcessingLevels/CreateModal">
    <abp-modal size="ExtraLarge">
        <abp-modal-header>
            <abp-row>
                <abp-column>
                    <abp-modal-title style="font-weight:bold; text-transform:uppercase; font-size:20px">@L["NewProcessingLevel"]</abp-modal-title>
                </abp-column>
            </abp-row>
        </abp-modal-header>
        <abp-modal-body>
            <abp-select asp-for="createUpdateProcessingLevel.IdUser" asp-items="Model.IdentitySelectListItem" />
            <abp-select asp-for="createUpdateProcessingLevel.IdDepartment" asp-items="Model.DepartmentSelectListItem" />
            <abp-select asp-for="createUpdateProcessingLevel.Level" asp-items="Model.LevelList" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
        
    </abp-modal>
</form>
